llama-index==0.8.43
streamlit==1.27.2
torch==1.13.1 
torchvision==0.14.1 
torchaudio==0.13.1
librosa==0.9.1
Cython
matplotlib
phonemizer
scipy
tensorboard
Unidecode
soundcard
git+https://github.com/davide-f/google-drive-downloader.git